/* Calculator css */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    font-family: 'Ubuntu', sans-serif;
}

header {
    height: 100px;
}

h1 {
    text-align: center;
}

h4 {
    padding-bottom: 1rem;
}

/* Main container of the calculator */
.wrapper {
    padding: 10% 0;
    margin-top: 50px;
    display: grid;
    margin: 0 auto;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.2em;
    grid-template-rows: repeat(3, 1fr);
    background: white;
    border-radius: 50px;
}


.wrapper > div {

    padding: 20px
}

/* First row of the calculator (first column)*/
.row-1 {
    grid-column: 1 /2;
    grid-row: 1 / 2;
}

/* Second row of the calculator (first column*/
.row-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

/* Third row of the calculator (first column*/
.row-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

/*Total section in the second column*/
.total-col {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

/* Grid of buttons nested in the first column*/
.nested-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.span-padding {
    padding-right: 5px;
}

/* General input field settings */
input {
    width: 80%;
    border-radius: 10px;
    height: 30%;
    text-align: right;
    font-size: larger;
}

input:hover {
    cursor: pointer;
    background-color: honeydew;
}

#error {
    color: red;
    font-weight: 700;
}

/* Percentage buttons*/
.tips {
    height: 3rem;
    font-weight: 700;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

/* For when a button is hovered over */
.tips:hover {
    background-color: white;
    color: blue;
    cursor: pointer;
}

/* For when a button is selected */
.tip-active {
    background-color: cyan;
    color: black;
}

/* Custom percentage input */
input.custom-tips {
    width: 100%;
}

/* Nested grid in the second column*/
.nested-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 2rem;
}

.per-person {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/* First row of calculated result */
.first-amount {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
}

.total-per-person {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

/* Second row of calculated result*/
.second-amount {
    grid-column: 2 / 3;
    grid-row:2 / 3;
    text-align: center;
}

/* Reset button */
.reset {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    height: 30px;
    border-radius: 50px;
    align-items: baseline;
}

.reset:hover {
    cursor: pointer;
    background: greenyellow;
}

/* Footer section */

footer {
    position: fixed;
    bottom: 0;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    }

.attribution a {
     color: hsl(228, 45%, 44%);
    }


    @media screen and (max-width: 600px) {

        .wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 20% 20% 20% 40%;
            width: 85%;
            margin: 0 auto;
        }

        .total-col {
            grid-column: 1 / 2;
            grid-row:  4 / 5;
            margin: 0px 3px;
        }

        input.custom-tips {
            font-size: smaller;
        }
    }